:root {
  --background: #12131b;
  --foreground: #c0caf5;
  --accent: #7aa2f7;
}

body {
  font-family: "JetBrains Mono", monospace !important;
}

pre,
code {
  font-family: "JetBrains Mono", monospace !important;
  font-weight: 700;
}
